@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


.main-content {
  padding-left: 240px; 
}

.scrollbar::-webkit-scrollbar {
  width: 5px; /* Vertical Scrollbar Width */
  height: 5px; /* Horizontal Scrollbar Height */
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 5px; /* Optional: Add border-radius to make it rounded */
}
